body{
margin:0;
padding:0;
background:#f4f4f4;
font-family:Arial;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.login-box{
background:#fff;
padding:30px;
width:350px;
border-radius:10px;
box-shadow:0 5px 20px rgba(0,0,0,.2);
}

.login-box h1{
text-align:center;
color:#c00000;
}

.login-box input{
width:100%;
padding:12px;
margin:10px 0;
border:1px solid #ccc;
border-radius:5px;
box-sizing:border-box;
}

.login-box button{
width:100%;
padding:12px;
background:#c00000;
color:#fff;
border:none;
cursor:pointer;
font-size:18px;
border-radius:5px;
}

.login-box button:hover{
background:#900;
}

#msg{
text-align:center;
color:red;
}
